<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hotspring.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @hotspring.text %>
</p>

<%= link_to 'Edit', edit_hotspring_path(@note) %> |
<%= link_to 'Back', hotsprings_path %>
