<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Hot Splog!</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>
  <header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a href="/">Hot Splog</a></h1>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <a href="/users/<%= current_user.id %>">まいぺーじ</a>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
          <a class="post" href="/reviews/new">投稿する！</a>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "ろぐいん   /", new_user_session_path, class: 'post' %>
          <%= link_to "New あかうんと", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
    </div>
  </header>

    <script type='text/javascript' c harset='utf-8'>
      $(function(){
        $.material.init();
      });
    </script>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12'>
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
      <footer class='row text-center'>
        <p>(C) Hot Splog 2017</p>
      </footer>
    </div>
  </body>
</html>